
.header-color{
background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header-color a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: .3s;
}

.header-color a:hover{
  font-size: 25px;
}

.drawer a{
  text-transform: uppercase;
  align-items: center;
  vertical-align: middle;
  font-size: 20px;
  display: flex;
  transition: .3s;
}

.drawer a:hover{
  font-size: 25px;
}


.landing-grid{
background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
position:relative;
top: 0px;
left: 0px;
width: 100%;
height: 100%;

}

.avatar-img{
  height: 250px;
  padding-top: 5em;
  border-radius: 50%;
}
.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin:auto;
  border-radius: 10px;
  padding-bottom: 15px;
  
}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
  word-wrap: break-word;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links{
  display: flex;
  justify-content:space-around;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
}

@media(max-width:768px){
  .banner-text{
    width: 100%;
    margin: -7px;
  }
  .landing-grid{
    margin-bottom: 0;
  }
}

.navigation-links Link{
   color: #833ab4;
   
}
/* contact css*/
.contact-body{
  margin: auto;
  position: relative;;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  }

  .contact-grid{
    display: flex;
    text-align: center;
    justify-content: center;
    background: white;
    color: black;
    margin-bottom: 20px;
    width: 75%;
    margin: auto;
    border-radius: 10px;
  }

.contact-grid h2{
  font-family: 'Anton', sans-serif;
}
.contact-grid p{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-grid i{
  font-size: 66px;
  display: flex;
  
}

.details{
  word-break: break-all;
}







/*resume styling*/





.name{
  padding-top: 50px;
  text-transform: uppercase;
  color: orange;
  margin-bottom: 100px;
  text-decoration: underline;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
  padding-left: 10px;

}

#main{
  margin-bottom: 100px;
  padding-left: 10%;
}

.blts{
  list-style: none;
  color: lightskyblue;
}
p{
  font-size: large;
  padding-top: 10px;
}
.contact{
  font-size: 25px;
}

#edu{
  padding-bottom: 5rem;
  text-decoration: none;
  text-transform: uppercase;
  color:orange;
  border-top: 1.5px solid black;
  font-size: 25px;   
}

#emp{
  padding-bottom: 5rem;
  text-decoration: none;
  text-transform: uppercase;
  color:orange;
  border-top: 1.5px solid black;
  font-size: 25px;
  
  
}
#pro{
  padding-bottom: 5rem;
  text-decoration: none;
  text-transform: uppercase;
  color:orange;
  border-top: 1.5px solid black;
  font-size: 25px;
}

#awa{
  padding-bottom: 5rem;
  text-decoration: none;
  text-transform: uppercase;
  color:orange;
  border-top: 1.5px solid black;
  font-size: 25px;
}
#ski{
  padding-bottom: 5rem;
  text-decoration: none;
  text-transform: uppercase;
  color:orange;
  border-top: 1.5px solid black;
  font-size: 25px; 
}
#act{
  padding-bottom: 5rem;
  text-decoration: none;
  text-transform: uppercase;
  color:orange;
  border-top: 1.5px solid black;
  font-size: 25px;
}


h3{
  padding-bottom: 30px;
  padding-top: 30px;
}

.space{
  padding-left: 30px;
}

.grid-container-main{
  display: grid;
  grid-template-columns: auto auto auto;
}

/*about me styling*/

.progress_bars {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
  flex-direction: column;
}


/*.btn_download{
  color: white;
  font-family: Volkorn;
  background: orangered;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  width:30%;
  height: 70px;
  font-size: 200%;
  word-wrap: break-word;
  align-items: center;
  transition: 0.7s;
}

.btn_download:hover{
  margin-top: 30px;
  width: 40%;
  height: 90px;
  font-size: 350%;
  background: rgb(238, 88, 33);
}

.skills{
  display: flex;
  justify-content: center;
  padding: 40px;
  align-items: center;
}*/

/*progress bar*/





body {
  
  
  background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  
}


.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 50%;
  
}
.progress1 {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 50%;
}
.progress2 {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 50%;
}
.progress3 {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 50%;
}
.progress4 {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 50%;
}
.progress5 {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 50%;
}
.progress-value {
  animation: html 3s normal forwards;
  box-shadow: -5px 5px 30px 0px #fff;
  border-radius: 100px;
  background: #fff;
  height: 10px;
  width: 0;
}
.progress-value1 {
  animation: css 3s normal forwards;
  box-shadow: -5px 5px 30px 0px #fff;
  border-radius: 100px;
  background: #fff;
  height: 10px;
  width: 0;

}
.progress-value2 {
  animation: javascript 3s normal forwards;
  box-shadow: -5px 5px 30px 0px #fff;
  border-radius: 100px;
  background: #fff;
  height: 10px;
  width: 0;

}
.progress-value3 {
  animation: react 3s normal forwards;
  box-shadow: -5px 5px 30px 0px #fff;
  border-radius: 100px;
  background: #fff;
  height: 10px;
  width: 0;

}
.progress-value4 {
  animation: bootstrap 3s normal forwards;
  box-shadow: -5px 5px 30px 0px #fff;
  border-radius: 100px;
  background: #fff;
  height: 10px;
  width: 0;

}
.progress-value5 {
  animation: wordpress 3s normal forwards;
  box-shadow: -5px 5px 30px 0px #fff;
  border-radius: 100px;
  background: #fff;
  height: 10px;
  width: 0;

}
.skill-name{
  color: rgb(43, 43, 43);
  text-transform: uppercase;
  text-shadow: 2px 2px 10px aliceblue
  ;
}


@keyframes html {
  0% { width: 0; }
  100% { width: 90%; }
}

@keyframes css {
  0% { width: 0; }
  100% { width: 90%; }
}

@keyframes javascript {
  0% { width: 0; }
  100% { width: 70%; }
}
@keyframes react {
  0% { width: 0; }
  100% { width: 60%; }
}
@keyframes bootstrap {
  0% { width: 0; }
  100% { width: 80%; }
}
@keyframes wordpress {
  0% { width: 0; }
  100% { width: 30%; }
}


